
:root {
    --background: #3C343D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

.background {
    background-color: var(
        --background
    );
    display: grid;
    place-items: center;
    height: 100vh;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 960px;
}

.card {
    position: relative;
    left: 0px;
    width: 800px;
    height: 700px;
    overflow: hidden;
    background-color: var(
        --background
    );
    transition: 0.6s
        ease-in-out;
    flex: 0.25;
}

.card img {
    height: 450px;
}

.card:hover {
    flex: 2;
    font-weight: bold;
    cursor: pointer;
}